body{
    margin: 0;
    padding: 0;
}

.container-fluid{
    padding: 0 !important;
}

.logo{
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

.logos{
    display: flex;
    overflow-x: auto;
}

.movie-title{
    white-space: nowrap;
    overflow: auto;
    text-overflow: ellipsis;
}

.movie-body{
    position: relative;
}

.movie-overview{
    color: white;
    font-size: 2vw;
    position: absolute;
    top: 0px;
}

.darken{
    filter: brightness(50%);
}

.icon{
    position:absolute;
    top: 40%;
    left: 40%;
    /* background-color: black; */
}

.myMovieList{
    display: flex;
    overflow-x: auto;
    position: relative;
}

.myMovie{
    position: relative;
    margin-right: 20px;
    /* height: 200px;
    width: 200px; */
}

.myMoviePoster{
    max-width: 100%;
    max-height: 100%;
    border-radius: 5%;
}

.myMovieTitle{
    position:absolute;
    top: 0px;
    color: white;
}

.backgroundColor{
    background-color: white;
}

.navbarColor{
    background-color: #CBF3F0 !important;
}

.buttonColor{
    background-color: #2EC4B6 !important;
}

.movieListColor{
    background-color: #FFBF69 !important;
}

.searchInput{
    font-weight: bold;
    font-size: 2em;
}
