.logo{
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

.logos{
    display: flex;
    overflow-x: auto;
}

.movie-title{
    white-space: nowrap;
    overflow: auto;
    text-overflow: ellipsis;
}

.movie-body{
    position: relative;
}

.movie-overview{
    color: white;
    font-size: 12px;
    position: absolute;
    top: 0px;
}

.darken{
    filter: brightness(50%);
}

.icon{
    position:absolute;
    top: 0px;
    right: 0px;
    background-color: black;
}